body{
    background: #202a3f;
   }
   .container{
    margin-top: 130px;
   }
   .glyphicon-search{
    font-size: 20px;
   }

   .image{
       position: relative;
       background-image: url(slide1.jpg);
       height: 50%;
       width: 100%;
       display:flex;
       justify-content: center;
       align-items: center;
       background-size:initial;
       background-repeat: no-repeat;
       background-position: center center;
       
   }
   
   .pull-right{
       float:right;
   }
     .form-control{
    padding: 5px;
    font-size: 20px;
   }