body{
    background: #202a3f;
   }
   .container{
    margin-top: 150px;
   }
   .glyphicon-search{
    font-size: 20px;
   }
   .btn-default{
    background: red;
    width: 100px;
    padding: 12.5px;
   }
   .form-control{
    padding: 20px;
    font-size: 20px;
   }