   .img-container{
       margin-top:80px;
   }.container{
    margin-top: 150px;
   }
   .glyphicon-search{
    font-size: 20px;
   }
   .pull-right{
       float:right;
   }
     .form-control{
    padding: 5px;
    font-size: 20px;
   }
   .btn-btn-block{
       display:flex;
       -webkit-box-pack: center;
       justify-content: center;
   }
   .img{
    
    background-image: url(image1.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    
}